/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:-20px; width:14px; height:22px; background:url(../images/slide-next.png) no-repeat;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:-20px; width:14px; height:22px; background:url(../images/slide-back.png) no-repeat;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:940px; margin:0 auto;padding:2%;position:absolute;top:160px; font-size:48px; color:#FFF;font-family: 'Lato TR Bold'; text-align:center;}