@charset "utf-8";
/* CSS Document */

body, html {height:100%; width:100%;padding:0px; margin:0px;}

form, div, span, h1, h2, h3, h4, h5, h6, ul, li, ol, input, select, textarea, a, img {padding:0px; margin:0px; border:none; text-decoration:none; list-style:none; outline:none; resize:none; font-weight:normal;border-radius:0;}
a {color:#595959;}
a:hover {color:#000000;}
h1, h2, h3, h4, h5, h6 {font-family: 'Lato TR Bold'; font-weight:normal;}

.clr { display:block;  clear:both;}

body {height:100%; width:100%; background-color:#ffffff; font-family: 'Lato TR Regular'; font-size:14px; line-height:20px; color:#595959;}

h1.aboutUsTitle { display:block; text-align:center; color:#2177bc; font-size:18px;}
/*h1.pageTitle { display:block; float:left; color:#ffffff; font-size:20px;font-family: 'Lato TR Bold'; margin-top:-36px;}*/
h1.pageTitle {background: none repeat scroll 0 0 #2177bc;color: #ffffff; display: block; float: left;  font-family: "Lato TR Bold";  font-size: 20px; height: 50px; line-height: 50px;  padding-left: 10px; width: 950px; margin:-50px auto 0;}
h2 {display:block;font-family: 'Lato TR Hairline'; font-size:28px; color:#a3a3a3; font-weight:bold; margin:10px 0 20px 0;}
h2.subtitle {display:block;font-family: 'Lato TR Bold'; font-size:18px; color:#9f1f63; font-weight:bold; margin:-2px 0 0;}
h3 {display:block;font-family: 'Lato TR Hairline'; font-size:24px; color:#a3a3a3; font-weight:bold; margin:10px 0 20px 0;}
h4 {display:block;font-family: 'Lato TR Hairline'; font-size:18px; color:#000000; font-weight:bold; margin:0px 0 10px 0;}
h5 { display:block; float:left; color:#ffffff; font-size:20px; font-family: 'Lato TR Bold'; margin-top:-36px; background:url(../images/bullet.png) center left no-repeat; padding-left:10px; margin-left:75px;}

.mainContainer {height:100%; width:100%; display:block; margin:0; padding:0;}
	.topContainer { display:block; width:100%; height:118px; border-top:13px solid #2177bc; border-bottom:1px solid #dedede; position:fixed; top:0;background-color:#ffffff; z-index:999;}
		.headerCon { display:block; width:960px; height:118px; padding:0px 10px; margin:0 auto;}
			a.logo { display:block; float:left; width:220px; height:118px; background:url(../images/linkmice-logo.jpg) no-repeat;}
			ul.mainMenu { display:block; float:right; width:670px; height:70px; padding:48px 0 0 70px; background:url(../images/mainmenu-bg.jpg) right no-repeat;}
			ul.mainMenu li { display:block; float:left; padding-left:20px; }
			ul.mainMenu li a { font-size:12px;  color:#595959; text-align:right; font-family: 'Lato TR Bold';}
			ul.mainMenu li a.active, ul.mainMenu li a:hover { color:#2177bc;}
	.middleContainer {display:block; width:100%; height:auto; margin-top:118px;}
		#Home { margin-top:-70px;}
		.mainSlider {display:block; width:960px; height:386px; margin:0 auto;}
		.socialMedya { display:block; width:550px; height:29px; padding:9px 10px 10px 400px; margin:14px auto; border-bottom:1px solid #dedede; border-top:1px solid #dedede;}
		.socialMedya a { display:block; float:left; width:30px; height:30px; margin-left:7px;}
			.facebook { background:url(../images/icon-facebook.jpg) no-repeat;}
			.twitter { background:url(../images/icon-twitter.jpg) no-repeat;}
			.instagram { background:url(../images/icon-instagram.jpg) no-repeat;}
			.youtube { background:url(../images/icon-youtube.jpg) no-repeat;}
		.aboutUsCon { display:block; width:960px; padding:110px 10px 30px 10px; height:auto; margin:0 auto; background:url(../images/about-us-bg.jpg) top center no-repeat; text-align:center;}
		.pageContainer {display:block; width:100%; height:auto;}
			.pageContainerTop {display:block; width:100%; height:50px; background:url(../images/page-bg.jpg) left top no-repeat #2177bc; position:relative; z-index:-1;}
			.pageContentArea {display:block; width:960px; padding:0px 10px; margin:0 auto;}
				.realContent {display:block; padding:20px 0px;}
					a.sendMail { display:block; float:left;font-family: 'Lato TR Hairline'; font-size:28px; color:#a3a3a3; height:42px; background:url(../images/icon-mail.jpg) top left no-repeat; padding-left:50px; line-height:42px; font-weight:bold; margin: 10px 0;}
					a.sendMail:hover {color:#2177bc;}
					.googleMap { display:block; width:960px; height:274px; margin-bottom:20px;}
					.contactBox {display:block; float:left; width:480px;}
					.contactBox p {color:#231f20;}
					.contactBox span {color:#231f20; font-size:16px;}
						#contactForm input, #contactForm textarea { display:block; width:468px; height:26px; margin-bottom:14px; border:1px solid #e3e3e3; font-family: 'Lato TR Regular'; font-size:12px; line-height:26px; padding-left:10px; }
						#contactForm textarea { height:100px;}
						#contactForm input.sendForm { float:right; color:#FFF; width:78px; background:#2177bc; cursor:pointer;padding-left:0; border-color:#6fa7d4; line-height:0;}
						#contactForm input.sendForm:hover {background:#1571bb; }
					.referenceCon { display:block; width:960px; height:260px; background:url(../images/references-bg.jpg) top left no-repeat;}
					.referenceCon a { display:block;float:left; width:230px; height:128px; margin-bottom: 4px; margin-left: 1px; margin-right: 9px; opacity:0.8;transition-duration:0.3s;}
					.referenceCon a:hover {opacity:1;}
					
					.newsBox { display:block; float:left; width:470px; height:220px; margin:10px 10px 30px 0;}
						.newsImg {display:block; float:left;width:220px; height:220px; margin:0 16px 0px 0;}
						.newsTxt {display:block; float:right; width:220px; height:220px; margin-right:14px; position:relative; }
						.more {display:block; position:absolute;bottom:0; left:0; color:#9f1f63; }
						
					#newsDetail { padding-top:13px;}
					#newsDetail .newsDetailBox { display:block;  margin:10px 10px 30px 0; padding-bottom:30px;}
					#newsDetail .newsImg {display:block; float:left;width:220px; height:220px; margin:0 16px 0px 0;}
					#newsDetail .newsTxt {display:block; float:right; width:710px; height:auto; margin-right:0; padding-bottom:20px; }
									.newsDate { color:#000;font-family: 'Lato TR Bold';}
									.newsSpot {font-family: 'Lato TR Bold'; }
						.go-back { display:block; float:right; color:#FFF; width:96px; height:35px; padding:15px 0 0 12px; background:url(../images/bulletBlue.jpg) left no-repeat #0c4370; font-size:12px; margin-top:-50px; text-align:center;}
						.go-back:hover {color:#FFF;}
						
					.homeWorksContent { display:block; float:left; width:354px; height:366px;}
						.scrlContent{overflow: auto; position: relative; width: 354px; height: 348px;}
					.homeWorksImg { display:block; float:right; width:329px; height:366px; overflow:hidden;}
					
					.teamBox { display:block; float:left; width:230px; height:292px; margin:0 0 0 5px; padding-top: 28px;}
						.teamImg {display:block; }
						.teamImg img {display:block;border: 6px solid #d5d5d5; border-radius:120px; } 
						.teamImg img:hover {border: 6px solid #9f1f63;}
						.teamName {display:block;  text-align:center; margin:10px 0 auto; }
						.teamTitle {display:block; font-weight:bold; text-align:center; }
					.galleryTitle { color:#9f1f63;font-family: "Lato TR Bold"; margin-bottom:20px; display:block;}	
					.galleryBox { display:block; float:left; width:300px; height:340px; margin:0px 20px 20px 0px;}
					.galleryBox img {display:block;width:300px; height:300px;}
					.galleryText { display:block;width:280px; height:40px; padding:0px 10px; text-align:center; color:#FFF;font-family: 'Lato TR Bold'; background:#020f22;line-height: 36px;}
					.allPhotos { text-align:center; display:block; width:170px; height:33px; color:#000; margin:140px 0 auto; margin-left:64px; font-size:12px; }
					
	.footerContainer { display:block; width:100%; height:209px; background:url(../images/footer-bg.jpg) repeat-x;}
		.footerContent { display:block; width:960px; height:209px; padding:0px 10px; margin:0 auto;}
			.footerTop { display:block; height:50px; margin-left:200px; padding-top:9px; color:#c6c6c6; font-size:12px; }
			.footerTop span { display:block; float:left; margin-right:60px; line-height: 28px;}
			.footerTop input {border:1px solid #e3e3e3; height:26px;  width:190px; padding-left:10px;font-family: 'Lato TR Regular';line-height:26px; font-size:12px;  }
			.footerTop input.sendMail { background:#2177bc; cursor:pointer;padding-left:0;line-height:0; width:78px;height: 30px; color:#FFF;border:1px solid #4f6271;  margin-left: -2px;}
			ul.footerLogos { display:block; width:auto; height:57px; margin:50px auto 0 150px; margin-top:45px;}
			ul.footerLogos li { display:block; float:left; margin: 0 17px 0 5px}
			
	a.go-top { display:block; background:url(../images/go-top.jpg) top center no-repeat; padding-top:60px; text-align:center; font-size:12px; color:#000; position:fixed; right:30px; top:48%;}
	a.moreContent { text-align:center; display:block; width:auto; margin:0 auto;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	