/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0; width:220px; display:block; float:left;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
   
    margin: 0;
     /* be nice to Opera */
}

.en .ui-tabs-nav a {margin-right:10px;}

.ui-tabs-nav a.last {margin-right:0px;}

.ui-tabs-nav .ui-tabs-selected a {
     background:url(../images/tab_bg.png) center bottom no-repeat; color: #fff;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background:url(../images/tab_bg.png) center bottom no-repeat;
    outline: 0; /* prevent dotted border in Firefox */ color: #fff;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    margin-top: 6px;
    padding-right:20px; border-right: 1px solid #e6e6e6;
}
.en .ui-tabs-nav a span {padding-right:10px;}

*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
   
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-nav .ui-tabs-disabled {
    
}
.ui-tabs-container {
    /* border-top: 1px solid #97a5b0;
    padding: 1em 8px;
    background: #fff; declare background color for container to avoid distorted fonts in IE while fading */ min-height: 370px;
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}


#tabcontainer { display:block;margin-top: 5px;  }

#tabcontainer .ui-tabs-nav li {
    float: none; border-top:1px dotted #e5e5e5; width:220px;
    margin: 0;  height:51px;
     /* be nice to Opera */
}
#tabcontainer .ui-tabs-nav a {
    display: block; background-color:none; background:url(../images/green-bullet.jpg) center left no-repeat;
    padding:15px 0px 0px 24px; 
	position: relative;
    z-index: 2; height:36px;
    color: #595959; font-size:14px;
    text-decoration: none; 
    white-space: nowrap; /* required in IE 6 */  
}
#tabcontainer .ui-tabs-nav a span { border-right:0; padding-right:0;}
#tabcontainer .ui-tabs-nav .ui-tabs-selected a { color:#9f1f63;  background:url(../images/pink-bullet.jpg) center left no-repeat;} 

.tabContent { display:block; float:right; width:720px; margin-left:20px;}